*{
    margin: 0;
    padding: 0;
    font-family: tahoma,geneva;
}
/* navbar */

.navbar .navbar-nav .nav-item a:hover{
    color: rgb(21, 19, 19);
    
}
.navbar .navbar-nav .nav-item a.nav-link.active{
    color: rgb(230, 227, 227);
    font-weight: 600;
}
.navbar .navbar-nav .nav-item a{
    color: rgb(211, 183, 183);
}
/* home */

.regis{
    /* background:linear-gradient(to right,rgb(225, 225, 92), rgb(213, 189, 209),rgb(203, 158, 194),rgb(178, 116, 166),rgb(181, 109, 166),rgb(174, 86, 156),rgb(182, 94, 164),rgb(203, 158, 194),rgb(213, 189, 209),rgb(214, 232, 94)) ; */
    background-image: linear-gradient(140deg, #dbc8b8 0%, #ada1be 50%, #e7eaab 75%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.row{
    
    font-size: 1.2rem;
    min-height: 40rem;
}
.texts{
    padding-left: 20px;
    border-radius: 10px;
    height: 40px;
    width: 400px;
    border: none;
}
.textse{
    
    width: 400px;
    border: none;

    /* width: 95.5px; */
    height: 40px;
    border-radius: 10px;
}
/* .textimg{
    
} */
.btn{
    width: 200px;
    height: 40px;
    /* background: white; */
    color: white;
    border: rgb(159, 89, 89);
    
}
body,html{overflow-x: hidden;}